/*header styles*/
.nav-title{
    color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.nav-span{
    color: #FD6E0A;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: #FFF;
padding: 15px 35px;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 50px;*/
    margin-left: 200px;
    margin-right: 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 0 50px 0 0;
}
nav a{
    text-decoration: none;
}
.header{
    background: #FFF8F3;
    background-image: url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;  
    margin-bottom: 100px;  
}
/*banner designs*/
.BANNER{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BANNER > img{
    width: 584px;
height: 676px;
flex-shrink: 0;
align-items: center;
}
.banner-title{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.banner-name{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-body{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.body-up{
max-width: 1140px;
max-height: 550px;
border-radius: 10px;
background: #ded0c6;
margin: 130px auto 371px auto;
}
.body-header{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
padding-top: 70px;
/*line-height: normal;*/
}
.body-para{
    width: 827px;
    color:#757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin: 0 auto;
}

.body-locations{
    display: flex;
    justify-content:space-evenly;
}

.divinfo{
    text-align: center;
}
.info-h{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.info-p{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
/*the what i do part*/
.body-up{
    margin: 30px auto;
}
.service-header{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 30px;
}
.service-body{
    max-width: 909px;
    color: var(--dark-03, #757575);
    text-align: center;
    margin: 0 auto;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.expertize{
    display: flex;
}
.languages{
    max-width: 267px;
    min-height: 377px;
    text-align:left;

}
.languages > p h4 svg{
    padding: 0 33px 0 33px;
}



